.cache_ggshield
.history/
output/
**/tmp/
dist/
content/pages/sites/test.md
**/node_modules/*
**/.credentials.json
db.sqlite3
**/*.log
**/__pycache__/
**/.ipynb_checkpoints/
**/.DS_Store
cache/
**/*.egg-info/
